<main>
    <div class="container">lalala</div>
    <div class="row"></div>
    <div class="col-6">
        <form>
            <input type="text" placeholder="Nome do produto">
            <input type="number" placeholder="Valor do produto">
            <input type="file">
            <input type="submit" value="cadastrar">
        </form>
    </div>




</main>